body.dark-mode {
    background-color: #212529; /* Dark background */
    color: #f8f9fa;            /* Light text */
}

body.dark-mode .country-card {
    background-color: #343a40; /* Darker card background */
    border-color: #6c757d;     /* Grey border */
}

body.dark-mode .country-card h2,
body.dark-mode .country-card h5 {
    color: #f8f9fa; /* Explicitly set text color to white for h2 and h5 in dark mode */
}

body.dark-mode .text-muted {
    color: #adb5bd !important; /* Lighter muted text */
}

body.dark-mode .form-select {
    background-color: #343a40; /* Darker form select background */
    color: #f8f9fa;            /* Light form select text */
    border-color: #6c757d;     /* Grey form select border */
}

#theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
}