body.dark-mode {
    background-color: #f8f9fa; /* Light background */
    color: #212529;            /* Dark text */
}

body.dark-mode .country-card {
    background-color: #e9ecef; /* Lighter card background */
    border-color: #ced4da;     /* Lighter border */
}

body.dark-mode .text-muted {
    color: #495057 !important; /* Darker muted text */
}

body.dark-mode .form-select {
    background-color: #e9ecef; /* Lighter form select background */
    color: #212529;            /* Darker form select text */
    border-color: #ced4da;     /* Lighter form select border */
}

#theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
}